<template>
  <div>
    <div class="box-left">
      <img
        v-if="type === 'questions'"
        class="box-left__icon"
        width="50"
        src="@/assets/doctor.svg"
        alt=""
      />
      <div v-if="type === 'questions'" class="col align-self-start card-left">
        <div v-if="contentReady" class="content animate__bounceIn">
          {{ content }}
        </div>
        <!-- loader -->
        <div v-else class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
    <div v-if="type === 'answer'" class="d-flex">
      <div class="card-right ">
        <div v-if="answerReady" class="content-right">
          {{ content }}
        </div>

        <!-- loader -->
        <div v-else class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardChat",
  data() {
    return {
      contentReady: false,
      answerReady: false,
    };
  },

  created() {
    this.waitingContent();
    this.waitingAnswer();
  },

  props: {
    type: String,
    content: String,
  },

  methods: {
    waitingContent() {
      setTimeout(() => {
        this.contentReady = true;
      }, 2000);
    },

    waitingAnswer() {
      setTimeout(() => {
        this.answerReady = true;
      }, 500);
    },
  },
};
</script>

<style lang="scss" scoped>
.box-left {
  height: auto;
  position: relative;
  &__icon {
    margin-top: 12px;
  }
}
.card-left {
  min-height: 60px;
  border-radius: 60px 60px 60px 0;
  background-color: #ffffff;
  display: inline-block;
  padding: 4px 20px;
  position: relative;
  vertical-align: top;
  max-width: 90%;
}
.card-right {
  height: 60px;
  border-radius: 60px 60px 0 60px;
  background-color: #ffffff;
  display: inline-block;
  padding: 4px 20px;
  position: relative;
  vertical-align: top;
  margin-left: auto;
}

.content {
  margin: 15px 0;
}

.content-right {
  margin: 15px 20px 0 0;
  text-align: right;
}
</style>

<style lang="scss" scoped>
.spinner {
  margin: 15px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
</style>
