<template>
  <div class="container main-page">
    <h1></h1>
    <div class="box-card">
      <div id="wrapperChat" class="box-card__align-card ">
        <div v-for="(item, id) in chatConversation" :key="id">
          <card-chat :type="item.type" :content="item.content" />
          <br />
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex gap-2 justify-content-center ">
        <div v-if="isReadyForAnswer" class="back">
          <img
            @click="removeLastChat"
            width="40"
            class="mt-3"
            src="@/assets/left.svg"
          />
        </div>
        <button
          v-if="isReadyForAnswer"
          @click="addAnswerToChat('Ya')"
          class="btn btn-light btn-lg w-25 shadow-lg p-3 mb-5 rounded"
          type="button"
        >
          Ya
        </button>
        <button
          v-if="isReadyForAnswer"
          class="btn btn-light btn-lg w-25 shadow-lg p-3 mb-5 rounded"
          type="button"
          @click="addAnswerToChat('Tidak')"
        >
          Tidak
        </button>
        <button
          v-if="!isReadyForAnswer"
          @click="startNewSession"
          class="btn btn-light btn-lg w-25 shadow-lg p-3 mb-5 rounded"
          type="button"
        >
          Mulai Analisa
        </button>
        <button
          v-if="!isReadyForAnswer && isHaveHistory"
          @click="continueHistory"
          class="btn btn-light btn-lg w-25 shadow-lg p-3 mb-5 rounded"
          type="button"
        >
          Lanjutkan sesi sebelumya
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import checkingQuestion from "../mixins/mixinChekingDb";
import CardChat from "./CardChat.vue";
export default {
  name: "MainPage",
  mixins: [checkingQuestion],
  data() {
    return {
      chatConversation: [],
      answerId: 0,
      isReadyForAnswer: true,
      isHaveHistory: false,
      isNotLowEnergi:false,
    };
  },
  components: {
    CardChat,
  },
  created() {
    this.isHaveHistoryAction();
  },

  methods: {
    addAnswerToChat(answer) {
      const chatData = {
        id: this.answerId,
        type: "answer",
        content: answer,
      };
      this.chatConversation.push(chatData);
      this.checkingUserAction(this.answerId, answer);
      this.answerId++;
      this.scrollPage();
    },

    startNewSession() {
      location.reload();
      localStorage.setItem("backupChat", "");
    },

    scrollPage() {
      let objDiv = document.getElementById("wrapperChat");
      const bottom = objDiv.scrollHeight;

      setTimeout(() => {
        objDiv.scrollTop = bottom;
      }, 0);
    },

    removeLastChat() {
      const lastElement = this.chatConversation[
        this.chatConversation.length - 1
      ];
      if (lastElement.type === "answer") {
        this.answerId = this.answerId - 1;
      }
      this.chatConversation.pop();
    },

    isHaveHistoryAction() {
      const history = localStorage.getItem("backupChat");
      if (history) {
        const questions = {
          id: "77",
          type: "questions",
          content: "Selamat datang kembali. Ada yang bisa saya bantu ?",
        };
        this.chatConversation.push(questions);
        this.isReadyForAnswer = false;
        this.isHaveHistory = true;
      } else {
        const questions = {
          type: "questions",
          content:
            "Halo...! Saya adalah asisten virtual yang akan membantu anda untuk menganalisa gejala yang anda alami apakah termasuk dalam penyakit demam berdarah atau bukan.  Mulai sekarang ...?",
        };
        this.chatConversation.push(questions);
      }
    },

    continueHistory() {
      this.chatConversation = [];
      const history = JSON.parse(localStorage.getItem("backupChat"));
      this.chatConversation = history;
      const historyId = localStorage.getItem("historyAnswerId");
      this.answerId = parseInt(historyId) + 1;
      this.isReadyForAnswer = true;
      this.isHaveHistory = false;
      localStorage.setItem("backupChat", "");
    },
  },

  watch: {
    chatConversation(val) {
      if (val[0].id != 77) {
        localStorage.setItem("backupChat", JSON.stringify(val));
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.box-card {
  width: 60%;
  margin: 0 auto 100px;
  &__align-card {
    overflow-y: scroll;
    max-height: 350px;
    padding-bottom: 60px;
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.btn-lg:hover {
  transform: scale(1.005);
  background-color: rgb(196, 188, 188);
  color: white;
}

.back:hover {
  transform: scale(1.05);
}
</style>
